body{
    width: 960px;
    margin: 0 auto;
    background-color: #e4ffc8;
    font-family: 'Montserrat',sans-serif;
}

main{
    width: 610px;
    margin: 0px;
    float: left;
}    

header, nav, main, aside, footer{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}

header img{
    float: left;
    margin-right: 10px;
}

nav{
    height: 40px;
}

nav li{
    float: left;
    margin-right: 10px;
    list-style-type: none;
}
 


article{
    display: inline-block;
    width: 280px;
    padding: 10px;
}

aside{
    width: 300px;
    display: inline-block;
    margin-left: 10px;
}
video{
    width: 300px;
    height: 150px;
    border: solid 1px;
}

footer{
    clear: both;
    text-align: center; 
}

footer a:link, footer a:visited{
    color: #000; 
    text-decoration: none;
}

footer a:hover, footer a:active{
    font-weight: bold;
}
@media only screen and (min-width: 768px){
    body{
        width: 768px;
    }
    main{
        width: 748px;
        float: none;
        margin: 0px;
    }
    main img{
    width: 748px;
    }
    article{
    display: inline-block;
    width: 350px;
    padding: 10px;
    }
    aside{
        width: 748px;
        margin-left: 0px; 
    }
    
}

@media only screen and (min-width:960px){
   body{
       width: 960px;
   }
}